body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dff2eb;
  margin: 0;
}

.header {
  background-color: #4a628a;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.header a {
  font-size: larger;
  padding: 10px;
  background-color: #7ab2d3;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header a:hover {
  background-color: #b9e5e8;
}
