body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dff2eb;
  margin: 0;
}

.header {
  background-color: #4a628a;
  color: #2c3e50;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.header a {
  font-size: larger;
  padding: 10px;
  background-color: #7ab2d3;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header a:hover {
  background-color: #b9e5e8;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

.index-cakes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-cake-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}

.index-cake-card img {
  width: 100%;
  border-radius: 10px;
}

.index-cake-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

.card-contact {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}

.card-contact img {
  width: 50%;
  border-radius: 100%;
}

.card-contat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}

.card-users:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-users img {
  width: 50%;
  border-radius: 100%;
}

.container-user-card-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-edit-user {
  background-color: #cce5ff;
  border: none;
  color: #004085;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-edit-user:hover {
  background-color: #b8daff;
}

.btn-delete-user {
  background-color: #f8d7da;
  border: none;
  color: #721c24;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-delete-user:hover {
  background-color: #f5c6cb;
}

.container-add-user {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.btn-add-user {
  background-color: #f8f9fa;
  border: none;
  color: #155724;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-add-user:hover {
  background-color: #e9ecef;
}
